<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/resume">Resume</a></li>
        		<li><a href="/projects">Projects</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>

		<div class="container">
		
		{{ content }}
		
		</div>
		
		<footer>
    		<ul>
        		<li><a href="mailto:trubenui@sfu.com">email</a></li>
        		<li><a href="https://github.com/Tyler-R">github.com/Tyler-R</a></li>
			</ul>
		</footer>
	</body>
</html>